.root {
  display: grid;
  grid-template-rows: min-content 1fr;
  flex: 1;
  overflow: hidden;
}

.header {
  height: fit-content;
  margin: 1rem;
  width: auto;

  h1 {
    font-weight: 300;
    margin: 0;
    text-align: left;

    @media (min-width: 768px) {
      text-align: center;
    }
  }
}

.noHeader {
  display: none;
  height: fit-content;
  margin: 1rem;
  width: auto;

  h1 {
    font-weight: 300;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.main {
  height: 100%;
  overflow: auto;
}